@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #005C53 16.62%, #9FC131 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    cursor: pointer;
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}


.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #fff2e7
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
}


.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 90px;
    color: #fff2e7;

}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo-dois {
    font-family: 'Passions Conflict', cursive;
    font-weight: 400;
    font-size: 70px;
    color: #fff2e7;
    
}

.conteudo-principal-escrito-botao {
    cursor: pointer;
    background-color: #ECD6C4;
    width: 120px;
    height: 35px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 15px;
    color: #2F2325
    

}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 169, 0.53);
    
}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2e7;
    margin-bottom: 6px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4
    
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
    
}


.conteudo-principal-escrito-imagem {
    height: 400px;
}

/*animation*/

.cabecalho-imagem {
    animation: fromTop .7s .2s backwards;
}

.conteudo-principal-escrito-titulo {
    animation: froBotton .7s backwards;
}

.conteudo-principal-escrito-imagem:nth-child(1) {
    animation: 0;
}

.conteudo-secundario-titulo:nth-child(2) {
    animation-delay: .3s;
}

.conteudo-secundario-paragrafo:nth-child(3) {
    animation-delay: .6s;
}
@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px)
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBotton {
    from{
        opacity: 0;
        transform: translateY(-30px)
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}



